@{
	ViewBag.Title = "JavaScript UI";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
	function SendRowColumn() {
		var aRow = document.getElementById('row').value;
		var aColumn = document.getElementById('column').value;
		$(function () {
			$.ajax({
				url: "/api/Geometric", //api/Geometric?row={row}&column={column}
				type: "GET",
				dataType: 'json',
				data: { row: aRow, column: aColumn },
				success: function (data) {
					var outText = $("#verticesReturned")[0];
					if (data.ErrorMessage === null) {
						outText.innerText = 'V1x, V1y: ' + data.B + '\nV2x, V2y: ' + data.A + '\nV3x, V3y: ' + data.C;
					} else {
						outText.innerText = data.ErrorMessage;
					}
				},
				error: function (xqr, errorMessage) {
					alert(errorMessage);
				}
			});
		});
	}
	function SendPoints() {
		var v1X = document.getElementById('pointV1x').value;
		var v1Y = document.getElementById('pointV1y').value;
		var v2X = document.getElementById('pointV2x').value;
		var v2Y = document.getElementById('pointV2y').value;
		var v3X = document.getElementById('pointV3x').value;
		var v3Y = document.getElementById('pointV3y').value;
		$(function () {
			$.ajax({
				url: "/api/Geometric", //api/Geometric?v1x={v1x}&v1y={v1y}&v2x={v2x}&v2y={v2y}&v3x={v3x}&v3y={v3y}
				type: "GET",
				dataType: 'json',
				data: { v1x: v1X, v1y: v1Y, v2x: v2X, v2y: v2Y, v3x: v3X, v3y: v3Y },
				success: function (data) {
					$("#response")[0].innerText = 'Row: ' + data.Row + '\nColumn: ' + data.Column;
				},
				error: function (xqr, errorMessage) {
					alert(errorMessage);
				}
			});
		});
	}
</script>
<div class="jumbotron">
	<h1>JavaScript UI</h1>
	<p class="lead">Here is a JavaScript UI to the Geometric Web API.</p>
</div>
<div class="row">
	<h2>
		Part I - Get vertices for given row (A-F) and column (1-12)
	</h2>
	<div class="col-xs-5">
		<div>
			<label for="row">Row:</label><input type="text" id="row" class="arow" />
		</div>
		<div>
			<label for="column">Column:</label><input type="text" id="column" class="acolumn" />
		</div>
		<div>
			<button id="sendRowColumn" onclick="SendRowColumn();">Submit Row/Column</button>
		</div>
		<div>
			<textarea id="verticesReturned" rows="4" cols="30"></textarea>
		</div>
	</div>
	<div class="col-xs-7">
	</div>
</div>
<hr />
<div class="row">
	<h2>
		Part II - Get row and column for a given set of vertices
	</h2>
	<div class="col-xs-5">
		<div>
			<label for="pointV1x">V1x:</label><input type="number" id="pointV1x" class="point" />
			<label for="pointV1y">V1y:</label><input type="number" id="pointV1y" class="point" />
		</div>
		<div>
			<label for="pointV2x">V2x:</label><input type="number" id="pointV2x" class="point" />
			<label for="pointV2y">V2y:</label><input type="number" id="pointV2y" class="point" />
		</div>
		<div>
			<label for="pointV3x">V3x:</label><input type="number" id="pointV3x" class="point" />
			<label for="pointV3y">V3y:</label><input type="number" id="pointV3y" class="point" />
		</div>
		<div>
			<button id="sendPoints" onclick="SendPoints();">Submit Points</button>
		</div>
		<div>
			<textarea id="response" rows="4" cols="30"></textarea>
		</div>
	</div>
	<div class="col-xs-7">
		<img src="/Images/bottom-point-example.png" width="250" alt="Bottom (Odd) Triangle Example Points" />
		<img src="/Images/top-point-example.png" width="250" alt="Top (Even) Triangle Example Points" />
	</div>
</div>